@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap");

:root {
  /* COLOR */
  --primary-color: #512d89;
  --secondary-color: #7fcfd3;
  --title-color: #0f0324;
  --description-color: #545454;
  --white-color: #ffffff;
  --border-color: #e4e5e7;
  /* TYPOGRAPHY */
  --h1-font-size: 22px;
  --h2-font-size: 20px;
  --normal-font-size: 16px;
  --small-font-size: 13px;
  /* TYPOGRAPHY */
  --body-font: "Be Vietnam Pro", sans-serif;
}

/*========== BASE ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll-container {
  height: 20px;
  overflow-y: scroll;
}

.scroll-content {
  padding: 20px;
}

/* Hide default scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  padding: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--title-color);
  line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-weight: 600;
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: 600;
}

p {
  font-size: var(--normal-font-size);
  color: var(--description-color);
  margin: 0;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--title-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* Common Css*/

.btn {
  padding: 12px 30px;
  border-radius: 8px;
  font-size: var(--normal-font-size);
  background: var(--primary-color);
  color: var(--white-color);
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  padding: 12px 30px;
  border-radius: 8px;
  font-size: var(--normal-font-size);
  background: var(--secondary-color);
  color: var(--white-color);
}

.main {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.body-content {
  width: 100%;
  margin-top: 60px;
  margin-left: 250px;
}

.body-container {
  margin: 50px 0;
  padding: 0 50px;
  width: 100%;
}

.page_number {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  padding: 30px 0;
}

/* Side Navbar */

.side_navbar {
  padding: 50px 0;
  background: var(--white-color);
  box-shadow: 0px 8px 50px rgba(81, 45, 137, 0.08);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .side_navbar .support{
    margin-top: 250px;
} */

/* @media screen and (max-width: 1850px) {
    .side_navbar .support{
        margin-top: 150px;
    }
} */

.side_navbar .user_profile img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: auto;
  display: flex;
}

.side_navbar .client_name {
  margin-top: 20px;
  color: var(--title-color);
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}

.side_navbar .review {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.side_navbar .review .icons {
  color: #ffc700;
}

.side_navbar .nav ul {
  width: 250px;
}

.side_navbar .nav ul li {
  margin-top: 20px;
}

.side_navbar .nav ul li a {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  border-left: 3px solid transparent;
  transition: all 0.5s ease-in-out;
  color: var(--title-color);
}

.side_navbar .nav ul li a:hover,
.side_navbar .nav ul li a.active {
  border-left: 3px solid var(--primary-color);
  background: linear-gradient(
    90deg,
    rgba(127, 207, 211, 0.25) 0%,
    rgba(127, 207, 211, 0) 100%
  );
}

.side_navbar .nav .icons {
  margin-right: 10px;
}

/* Top Navbar */
.top_navabr {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.top_navabr .navbar {
  padding: 25px 0;
  background: var(--white-color);
  box-shadow: 0px 8px 50px rgba(80, 45, 137, 0.11) !important;
  height: 80px;
}

.top-nav-content {
  position: absolute;
  right: 50px;
  top: 15px;
}

.top_navabr .navbar .nav-2 {
  display: none;
}

.top-nav-content .icons {
  margin-right: 30px;
}

.top-nav-content .notification {
  position: relative;
}

.top-nav-content .notification::after {
  content: "2";
  position: absolute;
  left: 10px;
  padding: 12px 10px;
  border-radius: 100px;
  font-size: 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* Body Container */
.post_project {
  width: 100%;
  border: 1px solid var(--border-color);
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
}

.body-container .nav {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 20px 20px;
  display: flex !important;
  justify-content: space-between;
}

.body-container .nav h1 {
  color: var(--title-color);
}

.body-container .nav h1 span {
  color: var(--description-color);
}

.body-container .nav .form-select {
  width: 250px;
}

.create-project {
  width: 100%;
  margin-top: 40px;
}

.create-project .card {
  border: none;
  margin: auto;
  max-width: 450px;
  text-align: center;
}

.create-project .card img {
  width: 80px;
  margin: auto;
}

.create-project .card .card-body {
  margin-top: 20px;
}

.create-project .card .card-body p {
  margin: 20px 0;
}

/* Last proposals received */

.post_project.user {
  width: 100%;
}

.proposals-list {
  max-height: 430px;
  overflow: auto;
}

.proposal-container {
  overflow: auto;
}

.proposals-list .proposal {
  padding: 20px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-reviews {
  border-bottom: 1px solid var(--border-color);
  padding: 20px;
  border-top: 1px solid var(--border-color);
  margin-top: 10px;
}

.proposals-list .proposal.client {
  padding: 0;
  border: 0;
}

.client-reviews .reply {
  margin-top: 30px;
  font-weight: 500;
  color: var(--primary-color);
}

.freelancer-img {
  position: relative;
  z-index: -1;
}

.freelancer-img .active-box {
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--primary-color);
  bottom: 0;
  right: 3px;
  border: 1px solid var(--white-color);
  border-radius: 100px;
}

.freelancer-img .active-box.active {
  background: #1eaf58;
}

.freelancer-img img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.proposals-list .proposal .user {
  display: flex;
  align-items: center;
}

.proposals-list .proposal .user .proposal-info {
  margin-left: 20px;
}

.proposals-list .proposal .proposal-info .name {
  font-size: var(--small-font-size);
  font-weight: 600;
}

.proposals-list .proposal .proposal-info .project,
.proposals-list .proposal .proposal-info .messages {
  font-size: var(--small-font-size);
  color: var(--description-color);
}

.proposals-list .proposal .day p {
  font-size: var(--small-font-size);
  color: var(--description-color);
  display: flex;
  align-items: center;
}

.proposals-list .icons {
  margin-left: 5px;
  font-size: 10px;
}

/* Card Section Css */

.card-list {
  margin-top: 20px;
}

.card-list .card-row {
  display: flex !important;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.card-list .section-title h1 {
  margin: 10px 0;
}

.card-list .card-row {
  margin-top: 20px;
}

.card-list .card {
  padding: 30px 10px;
  box-shadow: 0px 8px 50px rgba(81, 45, 137, 0.08);
  border-radius: 16px;
  border-color: var(--border-color);
  position: relative;
  margin-right: 30px;
  margin-top: 20px;
}

.card-list .card::after {
  content: url("../img/next.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%;
  left: 108%;
  transform: translate(-50%, -108%);
}

@media screen and (max-width: 1650px) {
  .card-list .card::after {
    position: absolute;
    top: 50%;
    left: 112%;
    transform: translate(-50%, -112%);
  }
}

.card-list .card.ex-icon::after {
  display: none;
}

.card-list .card .card-icons {
  background: var(--primary-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 100px;
  padding: 20px;
  text-align: center;
  max-width: 50px;
  max-height: 50px;
}

/* .card-list .card .card-body {
    margin-top: 15px;
} */

.card-list .card .card-body h2 {
  margin: 15px 0;
  color: var(--title-color);
}

.card-list .card .card-body p {
  color: var(--description-color);
}

/* Active Project */

.no_proposal {
  margin: auto;
  width: 250px;
  text-align: center;
  margin-top: 80px;
}

.no_proposal h2 {
  margin-top: 20px;
  color: var(--title-color);
}

.post_project-active {
  border: 1px solid var(--border-color);
  height: 500px;
  overflow: hidden;
}

.proposals-list,
.active-project-group {
  width: 100%;
  height: 500px;
  overflow: auto;
}

.active-project {
  padding: 0 20px;
  width: 100%;
  overflow: auto;
}

.active-project .card {
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.active-project .card p {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: 600;
}

.active-project .card h2 {
  font-size: 18px;
}

.active-project .card p span {
  color: var(--description-color);
}

.active-project .card a {
  font-size: var(--small-font-size);
  font-weight: 600;
}

/*=========================================== 
Find Talent Page
===========================================*/

.talent-page {
  width: 100%;
  height: 770px;
  overflow-y: auto;
}

.client-page {
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.p-info {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid var(--border-color);
  margin-top: 50px;
}

.p-info p {
  font-size: 18px;
  color: var(--description-color);
  font-weight: 600;
}

.p-info p span {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
  margin-left: 10px;
}

@media screen and (max-width: 1850px) {
  .talent-page {
    height: 680px;
  }

  .client-page {
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
  }
}

.body-container .element .nav {
  border: 1px solid var(--border-color) !important;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 8px;
  background-color: var(--white-color);
}

.search-box {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 100px;
  max-width: 320px;
}

.search-box input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 300px;
}

.search-box button[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
}

.search-box button[type="submit"]:hover {
  background-color: #3367d6;
}

.fa-search {
  font-size: 18px;
}

.talent_profile {
  padding: 40px;
  border: 1px solid var(--border-color);
  margin-top: 20px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.talent_profile .talent-info img {
  margin-right: 30px;
}

.freelancer_img {
  width: 100px;
  height: 100px;
  border-radius: 10000px;
}

.talent-info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.freelancer_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.freelancer {
  display: flex;
  align-items: center;
}

.talent_profile .talent-info .down-icons-list,
.talent_profile .talent-info .down-icons-list .star,
.talent_profile .talent-info .down-icons-list .ex_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.talent_profile .talent-info .down-icons-list {
  margin-top: 10px;
}

.talent_profile .talent-info .down-icons-list .ex_icon span {
  background: var(--primary-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 100px;
  padding: 15px;
  text-align: center;
  max-width: 20px;
  max-height: 20px;
  margin-right: 10px;
}

.talent_profile .talent-info .down-icons-list .ex_icon span:nth-child(1) {
  background: #f3ebfd;
  color: #5f3799;
  border: 1px solid #5e37995d;
}

.talent_profile .talent-info .down-icons-list .ex_icon span:nth-child(2) {
  background: #fffae4;
  color: #f2ca4c;
  border: 1px solid #f2cb4c5b;
}

.talent_profile .talent-info .down-icons-list .ex_icon span:nth-child(3) {
  background: #e6f9fb;
  color: #7bc3c9;
  border: 1px solid #7bc2c956;
}

.talent_profile .talent-info .down-icons-list .ex_icon span .icons {
  font-size: 12px;
}

.talent_profile .talent-info .down-icons-list .star .icons {
  margin: 0 2px;
  color: #ffc700;
}

.talent_profile .talent-info .down-icons-list .country {
  margin-left: 15px;
}

.talent_profile .talent-info .down-icons-list .country img {
  margin-left: 15px;
  margin-right: 10px;
}

.talent_profile .about-freelancer {
  width: 100%;
  margin-top: 30px;
  color: var(--description-color);
}

.talent_profile .keywords-group {
  margin-top: 40px;
}

.talent_profile .keywords-group a {
  font-size: var(--small-font-size);
  padding: 8px 16px;
  background: rgba(81, 45, 137, 0.05);
  border-radius: 100px;
  font-weight: 600;
  margin-right: 10px;
}

.text__content {
  max-height: 60px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.text__content2 {
  max-height: 55px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#toggleButton,
#toggleButton2 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 15px;
}

.text__content.showLess,
.text__content2.showLess {
  max-height: 100%;
}

.talent-page.freelancer_profile {
  overflow: visible;
}

/*=========================================== 
Talent Profile Page
===========================================*/

.about_us {
  padding: 30px 40px;
  margin-top: 30px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.about_us .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.about_us .section-title .btn {
  background: var(--secondary-color);
}

.about_us p {
  margin-top: 30px;
  color: var(--description-color);
}

.freelancer_profile {
  height: 100%;
}

.seller_review .post_project,
.seller_review .proposals-list {
  height: auto !important;
}

.seller_review .ratting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seller_review .proposals-list .proposal .user .proposal-info p.name {
  font-size: 16px !important;
  font-weight: 600;
}

.seller_review .ratting p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.seller_review .ratting p,
.seller_review .ratting p .icons,
.seller_review .ratting p img {
  margin-right: 10px;
  font-size: var(--small-font-size);
  color: var(--primary-color);
  font-weight: 600;
}

.seller_review .ratting p .icons {
  color: #ffc700;
}

.seller_review .post_project .nav {
  border: none !important;
}

.seller_review .nav h1.ratting_number .icons {
  color: #ffc700;
  margin-right: 10px;
}

.seller_review .freelancer-img img {
  width: 70px;
  height: 70px;
  border-radius: 100px;
}

/*=========================================== 
Project Page
===========================================*/

.project_area {
  border: 1px solid var(--border-color);
  padding: 30px;
  border-radius: 8px;
}

.project_area .project_info .project_heading {
  margin-bottom: 30px;
}

.project_area .project_info h2 {
  margin-bottom: 15px;
}

.project_area .project_info .date {
  font-size: var(--small-font-size);
}

.project_area .box {
  border: 1px solid var(--border-color);
  padding: 20px;
  text-align: center;
  margin: 20px 0;
  border-radius: 8px;
}

.project_area .box .proposal_number {
  margin-top: 20px;
  font-size: 32px;
}

.project_area .box .btn {
  background: var(--primary-color);
  margin-left: 20px;
}

.contact .btn_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact .btn_part .icons_group .icons {
  padding: 10px;
  border-radius: 100px;
}

.contact .btn_part .icons_group .icons:nth-child(1) {
  background: var(--primary-color);
  color: var(--white-color);
}

.contact .btn_part .icons_group .icons:nth-child(2) {
  background: var(--secondary-color);
  color: var(--white-color);
}

/* Private-Info Page */

.private-info {
  position: relative;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-group .btn.btn_2 {
  border: 1px solid var(--border-color);
  background: transparent;
  color: var(--title-color);
}

.btn-group .btn.btn_2:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.private-info .desc {
  max-width: 550px;
}

/*=========================================== 
Popup
===========================================*/

.modal-open .modal {
  padding-left: 0 !important;
}

.modal-dialog {
  width: 850px;
  max-width: 100%;
  border-radius: 8px;
}

.modal-title span {
  font-size: 16px;
  font-weight: 400;
  color: var(--description-color);
}

.modal-content {
  background: var(--white-color);
  border-radius: 8px;
}

.btn-close {
  opacity: 1;
  background: transparent;
  border: none;
  font-size: 22px;
  color: var(--title-color);
  --bs-btn-close-focus-opacity: 0;
}

/* Proceed Popoup */

#proceed .modal-dialog,
#released .modal-dialog {
  width: 450px;
}

.proceed .btn-group {
  justify-content: flex-start;
  gap: 10px;
}

.proceed .btn-group div {
  width: 100%;
}

.proceed a.btn {
  width: inherit;
}

.released {
  text-align: center;
}

/* Support Popup */

.user-info .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.user-info .item {
  margin-top: 30px;
  width: 100%;
}

.user-info .btn {
  margin-top: 30px;
  border-radius: 1000px;
  width: 100%;
}

.items input {
  padding: 12px 15px;
  border-radius: 80px;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  width: 100%;
  box-sizing: border-box;
  color: var(--title-color);
  margin-top: 20px;
}

.items textarea {
  padding: 12px 15px;
  border-radius: 16px;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  width: 100%;
  box-sizing: border-box;
  color: var(--title-color);
  margin-top: 20px;
}

/* Create Project Popup */

.checkbox_item {
  display: flex;
}

.items .checkbox {
  width: auto;
  margin-top: 0;
  margin-right: 15px;
}

/* Notification Popup */
.notification {
  overflow: auto;
  height: 500px;
}

.notification .sourch,
.notification .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification .item {
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  margin-top: 20px;
  opacity: 0.4;
}

.notification .item.active {
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  background: var(--white-color);
  margin-top: 20px;
  opacity: 1;
}

.notification .sourch img {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.notification .sourch .text {
  margin-top: -8px;
}

.notification .sourch .text p {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  color: var(--title-color);
}

/* Edit Profile Popup  */
.upload-img {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.upload-img p {
  margin-left: 30px;
}

.upload-img canvas {
  height: 170px;
  width: 170px;
  border-radius: 100px;
  background: var(--border-color);
}

/* Responcive Part */

@media screen and (max-width: 1350px) {
  .body-content {
    margin-left: 0;
  }

  .side_navbar {
    display: none;
  }

  .navbar-toggler {
    display: block !important;
  }

  .card-list .card::after {
    display: none;
  }

  .card-list .card {
    width: 100%;
    margin-right: 0;
  }

  .EXXX {
    position: fixed;
  }


  .top_navabr .navbar .nav-2 {
    display: block !important;
    background: var(--white-color);
    margin-top: 30px;
    height: 100vh;
    padding: 30px 30px;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
  }
  navbar-collapse.collapse.show .top_navabr .navbar .nav-2 {
    display: block;
  }
  
  .top_navabr .navbar .nav-2 li {
    margin-top: 20px;
  }

  .top_navabr .navbar .nav-2 li .icons {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1170px) {
  .talent_profile {
    width: 150%;
  }
}

@media screen and (max-width: 991px) {

  .body-container {
    margin-left: 0;
  }

  .active-project .card {
    width: 180%;
  }

  .post_project.user {
    margin-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .card-list .card-row .card {
    width: 100%;
    overflow: hidden;
  }

  .card-list .card-row img {
    rotate: 90deg;
  }

  .body-container .nav {
    display: block !important;
  }

  .body-container .nav .form-select {
    margin-top: 20px;
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .proposals-list .proposal {
    width: 150%;
  }

  .active-project .card {
    width: 200%;
  }

  .talent_profile {
    width: 180%;
  }

  .search-box input[type="text"] {
    width: 100%;
  }

  .body-container .element .nav .search-box {
    max-width: 100% !important;
    margin-top: 20px;
  }

  .seller_review .nav h1.ratting_number {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .top-nav-content {
    right: 16px !important;
  }

  .body-container {
    padding: 0 20px;
  }

  .talent_profile {
    width: 280%;
  }

  .notification .item {
    width: 150%;
  }

  .talent-page {
    height: 550px;
  }

  .talent-page.freelancer_profile {
    height: 100%;
  }

  .client-page {
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
  }
}

@media screen and (max-width: 400px) {
  .proposals-list .proposal {
    align-items: self-start;
  }
}
